.modalFullBody {
    font-family: 'Roboto Slab', serif;
    color: #000000;
    backdrop-filter: blur(4px);
}

.modalHeader {
    background-color: #ecdabe;
    border: #090a29 solid 2px !important;
}

.modalBody {
    background-color: #ecdabe;
    border-left: #090a29 solid 2px;
    border-right: #090a29 solid 2px;
}

.modalFooter {
    background-color: #ecdabe !important;
    border: #090a29 solid 2px !important;
    display: flex !important;
    justify-content: space-between !important;
}

.closeButton {
    background-color: #6884a9 !important;
    border: 0 !important;
    color: #ffffff !important;
    align-self: flex-end !important;
}

.closeButton:hover {
    background-color: #354a67 !important;
    border-color: #090a29 !important;
    color: #ffffff !important;
}

.submitButton {
    background-color: #598565 !important;
    border: 0 !important;
    color: #ffffff !important;
    align-self: flex-end !important;
}

.submitButton:hover {
    background-color: #395747 !important;
    border: 0 !important;
    color: #ffffff !important;
}

.buttonWrapper {
    width: 20% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.instructions {
    margin-top: 10px;
    background-color: #f89090;
    padding: 9px;
    width: fit-content;
    border-radius: 10px;
}

.offscreen {
    position: absolute !important;
    left: -9999px !important;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.invalidBorder {
    border-color: #c55b5b !important;
}

.registered {
    width: 30% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.logInButton {
    color: #4b6db9;
    background-color: transparent;
    border-color: transparent;
    padding: 10px !important;
    text-decoration: underline;
}

.logInButton:hover {
    background-color: transparent;
    border-color: transparent;
    color: #4f4c4c;
}

@media (max-width: 992px) {
    .buttonWrapper {
        width: 32% !important;
    }

    .registered {
        width: 50% !important;
    }
}

@media (max-width: 545px) {
    .modalFooter {
        flex-direction: column-reverse !important;
    }
    .buttonWrapper {
        width: 40% !important;
    }
}