.modalFullBody {
    font-family: 'PT Serif', serif;
    backdrop-filter: blur(4px);
}

.modalHeader {
    background-color: #7C9D96;
    border: #090a29 solid 2px !important;
}

.modalBody {
    background-color: #7C9D96;
    border-left: #090a29 solid 2px;
    border-right: #090a29 solid 2px;
}

.modalFooter {
    background-color: #7C9D96;
    border: #090a29 solid 2px !important;
}

.closeButton {
    background-color: #F4F2DE !important;
    border-color: #F4F2DE !important;
    color: #090a29 !important;
}

.closeButton:hover {
    background-color: #A1CCD1 !important;
    border-color: #090a29 !important;
    color: #ffffff !important;
}