.page-item:not(.active) .page-link {
    background-color: #f1f2f5;
    border-color: #090a29;
    color: #090a29;
}
.page-item.active .page-link {
    background-color: #3870d2 !important;
    border-color: #090a29 !important;
    color: #f0f2f3;
}
