.page-item:not(.active) .page-link {
    background-color: #F4F2DE;
    border-color: #090a29;
    color: #090a29;
}
.page-item.active .page-link {
    background-color: #cccccc !important;
    border-color: #090a29 !important;
    color: #090a29;
}
