input[type="range"]::-webkit-slider-thumb {
    background: #ffffff !important;
    border: solid 1px #000000;
}

input[type="range"]::-moz-range-thumb {
    background: #79a6b7 !important;
}

input[type="range"]::-ms-thumb {
    background: #79a6b7 !important;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to left, #c97d7d, #70a486);
}