input[type="range"]::-webkit-slider-thumb {
    background: #ffffff !important;
    border: solid 1px #ffffff;
}

input[type="range"]::-moz-range-thumb {
    background: #79a6b7 !important;
}

input[type="range"]::-ms-thumb {
    background: #79a6b7 !important;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to left, #cc343b, #28a833);
    height: 2px !important;
    width: 400px !important;
}