
.footerBody {
    position: absolute;
    bottom: -75vh;
    width: 100vw;
    height: 10vh;
    z-index: 2;
    background-color: #B5B9C9;
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
}