
.footerBody {
    width: 100vw;
    height: 10vh;
    z-index: 2;
    background-color: #f1f2f5;
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediaLink:hover {
    transform: scale(1.2);
}

a {
    color: black;
}