
.homePageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #322653;
    padding: 0;
}

.navBarBody {
    background-color: #FFD2D7;
    font-family: 'PT Serif', serif;
}

.navLink {
    background-color: #322653;
    border-radius: 12px;
    color: #ffffff;
    width: 100px;
    text-align: center;
}

.navLink:hover {
    background-color: #FFD2D7;
    border: #090a29 solid 2px;
}
