
h1 {
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.inputGroupLabel {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    text-align: center;
}

.inputGroupSection {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.rangeLabels {
    font-size: 22px;
}

.customProgressBar {
    border-radius: 12px;
    height: 8px;
    width: 70%;
}
