.navBarBody {
    background-color: #E9B384;
    font-family: 'PT Serif', serif;
    border-bottom: solid 2px #090a29;
}

.mailIcon {
    margin-left: 50px;
}

@media (max-width: 991px) {
    .mailIcon {
        margin-left: 0;
    }

    .navBarBody {
        border-bottom: solid 2px #090a29;
    }
}
