.predictionPageBody {
    border: transparent solid 1px;
    background-color: #dfe1e8;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.inputGroupLabel {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    text-align: center;
}

.inputGroupSection {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.rangeLabels {
    font-size: 22px;
}

@media(max-width: 547px){
    .rangeLabels {
        visibility: hidden;
    }
}

.customProgressBar {
    height: 8px !important;
}

.spinner {
    position: absolute;
    top: 50vh;
    left: 45vw;
}