.modalFullBody {
    backdrop-filter: blur(4px);
    font-size: 30px;
}

.modalHeader {
    background-color: #ecdabe;
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: #090a29 solid 2px !important;
}

.modalBody {
    background-color: #ecdabe;
    border-left: #090a29 solid 2px;
    border-right: #090a29 solid 2px;
}

.modalFooter {
    background-color: #ecdabe !important;
    border: #090a29 solid 2px !important;
}

.resultAlert {
    font-family: 'PT Serif', serif;
    text-align: center;
}

.closeButton {
    background-color: #6884a9 !important;
    border: 0 !important;
    color: #ffffff !important;
}

.closeButton:hover {
    background-color: #354a67 !important;
    border-color: #090a29 !important;
    color: #ffffff !important;
}
