.modalFullBody {
    backdrop-filter: blur(8px);
    font-size: 30px;
}

.modalHeader {
    background-color: #d1d6e1;
    font-family: 'Roboto Slab', serif;
    color: #121d4d;
}

.modalBody {
    background-color: #d1d6e1;
    color: #121d4d;
}

.modalFooter {
    background-color: #d1d6e1 !important;
}

.resultAlert {
    background-color: transparent !important;
    border: 0 !important;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.closeButton {
    background-color: #6884a9 !important;
    border: 0 !important;
    color: #ffffff !important;
}

.closeButton:hover {
    background-color: #354a67 !important;
    border-color: #090a29 !important;
    color: #ffffff !important;
}
